@import url('https://fonts.googleapis.com/css?family=Puritan');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Hind');

h2 {
  font-size: 20px;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  /* Hard Grid Sizes */
  grid-template-columns: [one] 103px [two] 250px [three] 70px [four] 57px [five] 193px [six] 70px [seven] 740px [end];
  grid-template-rows: [a] 165px [b] 423px [c] 77px [d] 70px [e] 94px [f] 10px [end];

  /* Responsize Grid Sizes */
  /* grid-template-columns: [one] 7% [two] 17% [three] 5% [four] 4% [five] 13% [six] 5% [seven] 49%x [end];
  grid-template-rows: [a] 18% [b] 47% [c] 9% [d] 8% [e] 10% [f] 8% [end]; */
}

/* Sections */
.bottle {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: b;
  grid-row-end: d;

  width: 250px;
  height: 500px;
  box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.start-button {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: d;
  grid-row-end: e;

  margin-top: 15px;
  width: 250px;
  height: 50px;
  border-radius: 2%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  font-family: Hind;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
}

.login-panel {
  grid-column-start: four;
  grid-column-end: six;
  grid-row-start: e;
  grid-row-end: end;
}

.login-input {
  background: transparent;
  border-radius: 0;
  display: block;
  appearance: none; /* remove default arrow */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #ffffff;
  width: 250px;
  height: 15px;
  font-family: Hind;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.login-label {
  height: 18px;
  font-family: Hind;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.login-button {
  margin-top: 15px;
  width: 250px;
  height: 50px;
  border-radius: 2%;
  background-color: #f9be02;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  font-family: Hind;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
}

.theme-panel {
  /* grid-column-start: two;
  grid-column-end: three;
  grid-row-start: e;
  grid-row-end: end; */
  padding-top: 10%;
  padding-left: 24.5%;
  padding-right: 30%;
  grid-column-start: seven;
  grid-column-end: end;
  grid-row-start: c;
  grid-row-end: e;
}

.theme-input {
  background: transparent;
  border-radius: 0;
  appearance: none; /* remove default arrow */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #ffffff;
  width: 100%;
  height: 21px;
  font-family: Hind;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.theme-label {
  height: 18px;
  font-family: Hind;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.title-panel {
  grid-column-start: two;
  grid-column-end: five;
  grid-row-start: a;
  grid-row-end: b;
  align-self: center;
}

.image-panel {
  height: 588px;
  grid-column-start: seven;
  grid-column-end: end;
  grid-row-start: a;
  grid-row-end: c;
}

.cat-image {
  width: 535px;
  margin: 40px;
  max-width: 100%;
}

.session-info-panel {
  grid-column-start: four;
  grid-column-end: six;
  grid-row-start: b;
  grid-row-end: d;
  border: none;
  align-self: flex-start;
  background: transparent;
  text-align: center;
}

.label {
  font-family: 'Puritan', sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.score {
  font-family: 'Rammetto One', cursive;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.level {
  font-family: 'Rammetto One', cursive;
  color: white;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.level-label {
  color: white;
}

.hiscores-panel {
  font-family: 'Puritan';
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: 200px;
  color: #ffffff;
}

.highscore-title {
  width: 300px;
  height: 41px;
  font-family: Puritan;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 150px 0 0 0;
  color: #ffffff;
}

.hiscore-text {
  font-family: 'Hind';
  font-size: 24px;
}

.highscore-list {
  list-style: none;
  font-family: Hind;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.highscore-list li {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.highscore-button {
  margin-bottom: 50px;
}

.highscore-input {
  text-align: center;
  font-family: Hind;
  font-size: 20px;
}

.init-span {
  text-align: center;
}

.points-span {
  text-align: center;
}

/*/////THEMES////////// */

/* Pow */
.powColorOne {
  border-radius: 10px;
  background-color: #f53240;
  /* width: 32.5px;
  height: 32.5px; */
}
.powColorOne:focus {
  outline: none;
}

.powColorTwo {
  border-radius: 10px;
  background-color: #4184f3;
  /* width: 32.5px;
  height: 32.5px; */
}
.powColorTwo:focus {
  outline: none;
}

.powColorThree {
  border-radius: 10px;
  background-color: #f9be02;
}
.powColorThree:focus {
  outline: none;
}

.powColorFour {
  border-radius: 10px;
  background-color: #7cdbd5;
}
.powColorFour:focus {
  outline: none;
}

.powBackground {
  background: linear-gradient(to bottom, #f53240 41%, #7cdbd5 41%);
}

.button-Pow {
  background-color: #f9be02;
}

.pow-Pow {
  height: 100%;
  width: 100%;
  background-image: url('./assets/explode-2.png');
  background-repeat: no-repeat;
}

.Pow-score {
  color: rgb(162, 0, 16);
}

/* gameover screen */

.gameover-Pow {
  width: 100%;
  height: 760px;
  background-color: #f53240;
  background-image: url('./assets/gameover-pow.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Baby */
.babyColorOne {
  border-radius: 10px;
  background-color: #eeb6b7;
  /* width: 32.5px;
  height: 32.5px; */
}
.babyColorOne:focus {
  outline: none;
}

.babyColorTwo {
  border-radius: 10px;
  background-color: #4184f3;
  /* width: 32.5px;
  height: 32.5px; */
}
.babyColorTwo:focus {
  outline: none;
}

.babyColorThree {
  border-radius: 10px;
  background-color: #75797c;
}
.babyColorThree:focus {
  outline: none;
}

.babyColorFour {
  border-radius: 10px;
  background-color: #4c6d9d;
}
.babyColorFour:focus {
  outline: none;
}

.babyBackground {
  background: linear-gradient(to bottom, #4c6d9d 41%, #75797c 41%);
}

.button-Baby {
  background-color: #eeb6b7;
}

.pow-Baby {
  background-image: url('./assets/explode-6.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.Baby-score {
  color: rgb(18, 23, 57);
}

/* gameover screen */

.gameover-Baby {
  width: 100%;
  height: 760px;
  background-color: #4c6d9d;
  background-image: url('./assets/gameover-baby.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* glam */
.glamColorOne {
  border-radius: 10px;
  background-color: #a239ca;
  /* width: 32.5px;
  height: 32.5px; */
}
.glamColorOne:focus {
  outline: none;
}

.glamColorTwo {
  border-radius: 10px;
  background-color: #4184f3;
  /* width: 32.5px;
  height: 32.5px; */
}
.glamColorTwo:focus {
  outline: none;
}

.glamColorThree {
  border-radius: 10px;
  background-color: #000000;
}
.glamColorThree:focus {
  outline: none;
}

.glamColorFour {
  border-radius: 10px;
  background-color: #4717f6;
}
.glamColorFour:focus {
  outline: none;
}

.glamBackground {
  background: linear-gradient(to bottom, #e7e0de 41%, #4717f6 41%);
}

.button-Glam {
  background-color: #a239ca;
}

.pow-Glam {
  background-image: url('./assets/explode-7.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.Glam-score {
  color: rgb(144, 135, 133);
}

/* gameover screen */

.gameover-Glam {
  width: 100%;
  height: 760px;
  background-color: #e7e0de;
  background-image: url('./assets/gameover-glam.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* mod */
.modColorOne {
  border-radius: 10px;
  background-color: #ff533d;
  /* width: 32.5px;
  height: 32.5px; */
}
.modColorOne:focus {
  outline: none;
}

.modColorTwo {
  border-radius: 10px;
  background-color: #4184f3;
  /* width: 32.5px;
  height: 32.5px; */
}
.modColorTwo:focus {
  outline: none;
}

.modColorThree {
  border-radius: 10px;
  background-color: #041626;
}
.modColorThree:focus {
  outline: none;
}

.modColorFour {
  border-radius: 10px;
  background-color: #f5f5f5;
}
.modColorFour:focus {
  outline: none;
}

.modBackground {
  background: linear-gradient(to bottom, #f5f5f5 41%, #041626 41%);
}

.button-Mod {
  background-color: #ff533d;
}

.pow-Mod {
  background-image: url('./assets/explode-8.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.Mod-score {
  color: rgb(164, 164, 164);
}

/* gameover screen */

.gameover-Mod {
  width: 100%;
  height: 760px;
  background-color: #f5f5f5;
  background-image: url('./assets/gameover-mod.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* pickle */
.pickleColorOne {
  border-radius: 10px;
  background-color: #eeb6b7;
  /* width: 32.5px;
  height: 32.5px; */
}
.pickleColorOne:focus {
  outline: none;
}

.pickleColorTwo {
  border-radius: 10px;
  background-color: #465c8b;
  /* width: 32.5px;
  height: 32.5px; */
}
.pickleColorTwo:focus {
  outline: none;
}

.pickleColorThree {
  border-radius: 10px;
  background-color: #93c178;
}
.pickleColorThree:focus {
  outline: none;
}

.pickleColorFour {
  border-radius: 10px;
  background-color: #4184f3;
}
.pickleColorFour:focus {
  outline: none;
}

.pickleBackground {
  background: linear-gradient(to bottom, #f2f2f2 41%, #465c8b 41%);
}

.button-Pickle {
  background-color: #93c178;
}

.pow-Pickle {
  background-image: url('./assets/explode-4.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.Pickle-score {
  color: rgb(159, 159, 159);
}

/* gameover screen */

.gameover-Pickle {
  width: 100%;
  height: 760px;
  background-color: #f2f2f2;
  background-image: url('./assets/gameover-pickle.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* grape */
.grapeColorOne {
  border-radius: 10px;
  background-color: #eeb6b7;
  /* width: 32.5px;
  height: 32.5px; */
}
.grapeColorOne:focus {
  outline: none;
}

.grapeColorTwo {
  border-radius: 10px;
  background-color: #94618e;
  /* width: 32.5px;
  height: 32.5px; */
}
.grapeColorTwo:focus {
  outline: none;
}

.grapeColorThree {
  border-radius: 10px;
  background-color: #4b2a4c;
}
.grapeColorThree:focus {
  outline: none;
}

.grapeColorFour {
  border-radius: 10px;
  background-color: #4184f3;
}
.grapeColorFour:focus {
  outline: none;
}

.grapeBackground {
  background: linear-gradient(to bottom, #f8eee7 41%, #4b2a4c 41%);
}

.button-Grape {
  background-color: #94618e;
}

.pow-Grape {
  background-image: url('./assets/explode-3.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.Grape-score {
  color: rgb(167, 154, 144);
}

/* gameover screen */

.gameover-Grape {
  width: 100%;
  height: 760px;
  background-color: #f8eee7;
  background-image: url('./assets/gameover-grape.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* vitaminC */
.vitaminCColorOne {
  border-radius: 10px;
  background-color: #f7c331;
  /* width: 32.5px;
  height: 32.5px; */
}
.vitaminCColorOne:focus {
  outline: none;
}

.vitaminCColorTwo {
  border-radius: 10px;
  background-color: #6b7a8f;
  /* width: 32.5px;
  height: 32.5px; */
}
.vitaminCColorTwo:focus {
  outline: none;
}

.vitaminCColorThree {
  border-radius: 10px;
  background-color: #f7882f;
}
.vitaminCColorThree:focus {
  outline: none;
}

.vitaminCColorFour {
  border-radius: 10px;
  background-color: #4184f3;
}
.vitaminCColorFour:focus {
  outline: none;
}

.vitaminCBackground {
  background: linear-gradient(to bottom, #f7c331 41%, #6b7a8f 41%);
}

.button-VitaminC {
  background-color: #f7882f;
}

.pow-VitaminC {
  background-image: url('./assets/explode-5.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.VitaminC-score {
  color: rgb(165, 100, 14);
}

/* gameover screen */

.gameover-vitaminc {
  width: 100%;
  height: 760px;
  background-color: #f7c331;
  background-image: url('./assets/gameover-vitaminc.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* berry */
.berryColorOne {
  border-radius: 10px;
  background-color: #eeb6b7;
  /* width: 32.5px;
  height: 32.5px; */
}
.berryColorOne:focus {
  outline: none;
}

.berryColorTwo {
  border-radius: 10px;
  background-color: #e63475;
  /* width: 32.5px;
  height: 32.5px; */
}
.berryColorTwo:focus {
  outline: none;
}

.berryColorThree {
  border-radius: 10px;
  background-color: #5f0f4e;
}
.berryColorThree:focus {
  outline: none;
}

.berryColorFour {
  border-radius: 10px;
  background-color: #67aeca;
}
.berryColorFour:focus {
  outline: none;
}

.berryBackground {
  background: linear-gradient(to bottom, #e63475 41%, #67aeca 41%);
}

.button-Berry {
  background-color: #5f0f4e;
}

.pow-Berry {
  background-image: url('./assets/explode-1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.Berry-score {
  color: rgb(142, 0, 26);
}

/* gameover screen */

.gameover-Berry {
  width: 100%;
  height: 760px;
  background-color: #e63475;
  background-image: url('./assets/gameover-berry.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* game board*/

.game-over {
  background-image: url('./assets/doctorcat-dead.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.pillgrid {
  display: grid;
  grid-template-columns: [gone] 12.5% [gtwo] 12.5% [gthree] 12.5% [gfour] 12.5% [gfive] 12.5% [gsix] 12.5% [gseven] 12.5% [geight] 12.5% [end];
  grid-template-rows: [ga] 6.25% [gb] 6.25% [gc] 6.25% [gd] 6.25% [ge] 6.25% [gf] 6.25% [gg] 6.25% [gh] 6.25% [gi] 6.25% [gj] 6.25% [gk] 6.25% [gl] 6.25% [gm] 6.25% [gn] 6.25% [go] 6.25% [gp] 6.25% [end];
  width: 250px;
  height: 500px;
}

/*///// PILL POSITION CLASSES ///// */
/* col 1 */
.a1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gn;
  grid-row-end: go;
}

.o1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: go;
  grid-row-end: gp;
}

.p1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gp;
  grid-row-end: end;
}

/* col 2 */
.a2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gn;
  grid-row-end: go;
}

.o2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: go;
  grid-row-end: gp;
}

.p2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col  3 */

.a3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gn;
  grid-row-end: go;
}

.o3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: go;
  grid-row-end: gp;
}

.p3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col 4 */

.a4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gn;
  grid-row-end: go;
}

.o4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: go;
  grid-row-end: gp;
}

.p4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col 5 */

.a5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gn;
  grid-row-end: go;
}

.o5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: go;
  grid-row-end: gp;
}

.p5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col 6 */

.a6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gn;
  grid-row-end: go;
}

.o6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: go;
  grid-row-end: gp;
}

.p6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col 7 */

.a7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gn;
  grid-row-end: go;
}

.o7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: go;
  grid-row-end: gp;
}

.p7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col 8 */

.a8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gn;
  grid-row-end: go;
}

.o8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: go;
  grid-row-end: gp;
}

.p8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gp;
  grid-row-end: end;
}
