h2 {
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: [one] 5% [two] 10% [three] 5% [four] 4% [five] 5% [six] 20% [seven] 5% [end];
  grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20%;
}

.bottle {
  border-color: black;
  border-style: solid;
  border-width: thick;
  margin: 50px;
}

.login-panel {
  border-color: black;
  border-style: solid;
  border-width: thin;
  margin: 50px;
}

.session-info-panel {
  border-color: black;
  border-style: solid;
  border-width: thin;
  margin: 50px;
}

.hiscores-panel {
  border-color: black;
  border-style: solid;
  border-width: thin;
  margin: 50px;
}
