@import url('https://fonts.googleapis.com/css?family=Puritan');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Hind');

h2 {
  font-size: 20px;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  /* Hard Grid Sizes */
  grid-template-columns: [one] 103px [two] 250px [three] 70px [four] 57px [five] 193px [six] 70px [seven] 740px [end];
  grid-template-rows: [a] 165px [b] 423px [c] 77px [d] 70px [e] 94px [f] 500px [end];

  /* Responsize Grid Sizes */
  /* grid-template-columns: [one] 8% [two] 20% [three] 5% [four] 5% [five] 15% [six] 5% [seven] 42%x [end];
  grid-template-rows: [a] 18% [b] 47% [c] 9% [d] 8% [e] 10% [f] 8% [end]; */
}
/* Sections */
.bottle {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: b;
  grid-row-end: d;

  width: 250px;
  height: 500px;
  box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.start-button {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: d;
  grid-row-end: e;

  margin-top: 15px;
  width: 250px;
  height: 50px;
  border-radius: 2%;
  background-color: #f9be02;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  font-family: Hind;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
}

.login-panel {
  grid-column-start: four;
  grid-column-end: six;
  grid-row-start: e;
  grid-row-end: end;
}

.login-input {
  background: transparent;
  border-radius: 0;
  appearance: none; /* remove default arrow */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #ffffff;
  width: 100%;
  height: 15px;
  font-family: Hind;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.login-label {
  height: 18px;
  font-family: Hind;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.login-button {
  margin-top: 15px;
  width: 250px;
  height: 50px;
  border-radius: 2%;
  background-color: #f9be02;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  font-family: Hind;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
}

.theme-panel {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: e;
  grid-row-end: end;
}

.theme-input {
  background: transparent;
  border-radius: 0;
  appearance: none; /* remove default arrow */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #ffffff;
  width: 100%;
  height: 21px;
  font-family: Hind;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.theme-label {
  height: 18px;
  font-family: Hind;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.title-panel {
  grid-column-start: two;
  grid-column-end: five;
  grid-row-start: a;
  grid-row-end: b;
}

.image-panel {
  height: 588px;
  grid-column-start: seven;
  grid-column-end: end;
  grid-row-start: a;
  grid-row-end: c;
  background-image: url('./assets/explode.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.cat-image {
  width: 535px;
  margin: 40px;
  max-width: 100%;
}

.session-info-panel {
  grid-column-start: four;
  grid-column-end: six;
  grid-row-start: b;
  grid-row-end: d;
  border: none;
  background: transparent;
  text-align: center;
}

.label {
  font-family: 'Puritan', sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.score {
  font-family: 'Rammetto One', cursive;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.player {
  font-family: 'Hind';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.hiscores-panel {
  grid-column-start: seven;
  grid-column-end: end;
  grid-row-start: c;
  grid-row-end: e;
  font-family: 'Puritan';
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: 200px;
  color: #ffffff;
}

/*/////THEMES////////// */

/* Classic */
.classicColorOne {
  border-radius: 10px;
  background-color: #ff2009;
  /* width: 32.5px;
  height: 32.5px; */
}
.classicColorOne:focus {
  outline: none;
}

.classicColorTwo {
  border-radius: 10px;
  background-color: #391bb4;
  /* width: 32.5px;
  height: 32.5px; */
}
.classicColorTwo:focus {
  outline: none;
}

.classicColorThree {
  border-radius: 10px;
  background-color: #ffd109;
}
.classicColorThree:focus {
  outline: none;
}

.classicColorFour {
  border-radius: 10px;
  background-color: #07c431;
}
.classicColorFour:focus {
  outline: none;
}

.classicBackground {
  /* background: #000000;
  background: -webkit-linear-gradient(bottom, #53346d, #000000);
  background: -o-linear-gradient(bottom, #53346d, #000000);
  background: linear-gradient(to top, #53346d, #000000); */
  background: #555555;
}

/* Cat */

.catColorOne {
  border-radius: 10px;
  background-color: #cd3c68;
  /* width: 32.5px;
  height: 32.5px; */
}
.catColorOne:focus {
  outline: none;
}

.catColorTwo {
  border-radius: 10px;
  background-color: #3e459f;
  /* width: 32.5px;
  height: 32.5px; */
}
.catColorTwo:focus {
  outline: none;
}

.catColorThree {
  border-radius: 10px;
  background-color: #e5ba43;
}
.catColorThree:focus {
  outline: none;
}

.catColorFour {
  border-radius: 10px;
  background-color: #7dcc3c;
}
.catColorFour:focus {
  outline: none;
}

.catBackground {
  background: #fbd3e9;
  background: -webkit-linear-gradient(bottom, #bb377d, #fbd3e9);
  background: -o-linear-gradient(bottom, #bb377d, #fbd3e9);
  background: linear-gradient(to top, #bb377d, #fbd3e9);
}

/* Sunset */

.sunsetColorOne {
  border-radius: 10px;
  background-color: #ff8d0d;
  /* width: 32.5px;
  height: 32.5px; */
}
.sunsetColorOne:focus {
  outline: none;
}

.sunsetColorTwo {
  border-radius: 10px;
  background-color: #c90bc1;
  /* width: 32.5px;
  height: 32.5px; */
}
.sunsetColorTwo:focus {
  outline: none;
}

.sunsetColorThree {
  border-radius: 10px;
  background-color: #cef90d;
}
.sunsetColorThree:focus {
  outline: none;
}

.sunsetColorFour {
  border-radius: 10px;
  background-color: #138ec4;
}
.sunsetColorFour:focus {
  outline: none;
}

.sunsetBackground {
  background: #fc354c;
  background: -webkit-linear-gradient(#0abfbc, #fc354c);
  background: -o-linear-gradient(#0abfbc, #fc354c);
  background: linear-gradient(#0abfbc, #fc354c);
}

/* Neon */

.neonColorOne {
  border-radius: 10px;
  background-color: #ff0040;
  /* width: 32.5px;
  height: 32.5px; */
}
.neonColorOne:focus {
  outline: none;
}

.neonColorTwo {
  border-radius: 10px;
  background-color: #2a26ff;
  /* width: 32.5px;
  height: 32.5px; */
}
.neonColorTwo:focus {
  outline: none;
}

.neonColorThree {
  border-radius: 10px;
  background-color: #fffc00;
}
.neonColorThree:focus {
  outline: none;
}

.neonColorFour {
  border-radius: 10px;
  background-color: #66ff00;
}
.neonColorFour:focus {
  outline: none;
}

.neonBackground {
  background: #a80077;
  background: -webkit-linear-gradient(bottom, #66ff00, #a80077);
  background: -o-linear-gradient(bottom, #66ff00, #a80077);
  background: linear-gradient(to top, #66ff00, #a80077);
}

/* game board*/

.pillgrid {
  display: grid;
  grid-template-columns: [gone] 12.5% [gtwo] 12.5% [gthree] 12.5% [gfour] 12.5% [gfive] 12.5% [gsix] 12.5% [gseven] 12.5% [geight] 12.5% [end];
  grid-template-rows: [ga] 6.25% [gb] 6.25% [gc] 6.25% [gd] 6.25% [ge] 6.25% [gf] 6.25% [gg] 6.25% [gh] 6.25% [gi] 6.25% [gj] 6.25% [gk] 6.25% [gl] 6.25% [gm] 6.25% [gn] 6.25% [go] 6.25% [gp] 6.25% [end];
  width: 250px;
  height: 500px;
}

/*///// PILL POSITION CLASSES ///// */
/* col 1 */
.a1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gn;
  grid-row-end: go;
}

.o1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: go;
  grid-row-end: gp;
}

.p1 {
  grid-column-start: gone;
  grid-column-end: gtwo;
  grid-row-start: gp;
  grid-row-end: end;
}

/* col 2 */
.a2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gn;
  grid-row-end: go;
}

.o2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: go;
  grid-row-end: gp;
}

.p2 {
  grid-column-start: gtwo;
  grid-column-end: gthree;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col  3 */

.a3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gn;
  grid-row-end: go;
}

.o3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: go;
  grid-row-end: gp;
}

.p3 {
  grid-column-start: gthree;
  grid-column-end: gfour;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col 4 */

.a4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gn;
  grid-row-end: go;
}

.o4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: go;
  grid-row-end: gp;
}

.p4 {
  grid-column-start: gfour;
  grid-column-end: gfive;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col 5 */

.a5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gn;
  grid-row-end: go;
}

.o5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: go;
  grid-row-end: gp;
}

.p5 {
  grid-column-start: gfive;
  grid-column-end: gsix;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col 6 */

.a6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gn;
  grid-row-end: go;
}

.o6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: go;
  grid-row-end: gp;
}

.p6 {
  grid-column-start: gsix;
  grid-column-end: gseven;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col 7 */

.a7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gn;
  grid-row-end: go;
}

.o7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: go;
  grid-row-end: gp;
}

.p7 {
  grid-column-start: gseven;
  grid-column-end: geight;
  grid-row-start: gp;
  grid-row-end: end;
}

/*col 8 */

.a8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: ga;
  grid-row-end: gb;
}

.b8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gb;
  grid-row-end: gc;
}

.c8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gc;
  grid-row-end: gd;
}

.d8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gd;
  grid-row-end: ge;
}

.e8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: ge;
  grid-row-end: gf;
}

.f8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gf;
  grid-row-end: gg;
}

.g8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gg;
  grid-row-end: gh;
}

.h8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gh;
  grid-row-end: gi;
}

.i8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gi;
  grid-row-end: gj;
}

.j8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gj;
  grid-row-end: gk;
}

.k8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gk;
  grid-row-end: gl;
}

.l8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gl;
  grid-row-end: gm;
}

.m8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gm;
  grid-row-end: gn;
}

.n8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gn;
  grid-row-end: go;
}

.o8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: go;
  grid-row-end: gp;
}

.p8 {
  grid-column-start: geight;
  grid-column-end: end;
  grid-row-start: gp;
  grid-row-end: end;
}
